<div class="centered">
    <div class="modal-box">
        <h1 class="title">
            Create New Task
        </h1>

        <div class="input-group mb-3" id="add">
            <input #taskTitleInput type="text" class="form-control" placeholder="Add Task">
            <div class="input-group-append">
                <button class="btn" type="button" (click)="createTask(taskTitleInput.value)">Create</button>
            </div>
        </div>    
        <button routerLink="/" class="btn back">Go back</button>
    </div>

</div>